<section class="contenido">
    <div>
        <h2>Materia: Programación</h2>
        <h3>Clickeá la catedra a la que quieres inscribirte</h3>
    </div>
    <article class="tabla-contenedor">
        <table>
            <thead>
                <tr>
                    <th>Hs</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8 a 12</td>
                    <td>cat. Marquez</td>
                    <td></td>
                    <td>cat. Lopez</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>19 a 23</td>
                    <td class="catedras">cat. Roque</td>
                    <td>cat. Perez</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </article>
</section>