.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 55px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.login{
    display: flex;
    align-items: center;
}

.login > div{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

