.lista{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 55px;
    list-style: none;
    height: 80px;    
    font-size: small;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
}

.lista li{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #9edaff;
    height: 100%;
    align-items: center;
}

.lista li:first-child {
    border-left: none;
}

li:hover{    
    background-color: #9edaff;
}
