li{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #9edaff;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

li:first-child {
    border-left: none;
}

li:hover{    
    background-color: #9edaff;
}
